.upload{
    font-weight:bold;
    color:#28a745;
    margin-left: 15px;
    line-height: 36px;
}

img.form-img-preview {
    height: 70px;
    position: absolute;
    right: 730px;
    border: 1px solid #9E9E9E;
}

button.btn.btn-success {
    float: right;
}

.row .col.s7 {
    text-align: center;
}