<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">RAVIV</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/history" routerLinkActive="active">היסטוריה</a></li>
      <li><a routerLink="/inventory-balances" routerLinkActive="active">יתרות מלאי</a></li>
      <li><a routerLink="/report-product" routerLinkActive="active">דיווח לגמר ייצור</a></li>
      <li><a routerLink="/products" routerLinkActive="active">מוצרים</a></li>
      <li><a routerLink="/main" routerLinkActive="active">מסך ראשי</a></li>
    </ul>
  </div> 
</nav>
